# pandas パズル 100 問  - 解答 -

[100 Numpy exerises](https://github.com/rougier/numpy-100) にインスパイアされ, [pandas](http://pandas.pydata.org/) の実力のテストのために １００ 問\*の短いパズルを用意しました。

pandas は多くのスペシャリストによって作り上げられてきた大きなライブラリですので、用意した問題は DataFrame と Series オブジェクトを使ったデータの操作に焦点を当てています。

問題の多くは pandas または numpy の数行のコードで済むようなものです。正しい方法を選択し、練習することが目標となります。

この問題集は大まかにいくつかのセクションに別れています。それぞれのセクションで難易度が異なりますが、それらの設定は主観的なものであり、おおよその指針と捉えるべきです。

もしあなたがちょうど pandas を学び始めで、参考になる情報をお探しなら、公式ドキュメントがとてもオススメです。特に、pandas の概要を知りたいのであれば次のサイトをオススメします。
- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

それでは、パズルを楽しんで!

\* 問題集は未完成です。問題のリクエストや提案、解答の修正に関することは歓迎します。

## pandas のインポート

### pandas を読み込んでセットアップを確認しよう。

難易度： *easy* 

**1.** `pd` の名前で pandas をインポートしなさい。

In [1]:
import pandas as pd

**2.** インポートした pandas のヴァージョンを表示しなさい。

In [2]:
pd.__version__

'1.0.3'

**3.** pandas ライブラリのすべてのヴァージョン情報を表示しなさい。

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.8.3.candidate.1
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Japanese_Japan.932

pandas           : 1.0.3
numpy            : 1.18.4
pytz             : 2020.1
dateutil         : 2.8.1
pip              : 20.1
setuptools       : 46.1.3
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.14.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : None
matplotlib       : 3.2.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : None
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
xlsxwriter       : None
numba            : None

## DataFrame 基礎

### DataFrame における選択、ソート、追加そして集計

難易度: *easy*

注意: numpy を使うときは次のようにすること。
```python
import numpy as np
```

以下のような辞書型の `data` およびリスト型の `labels` を考えましょう。

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(これは作者が作った意味のないデータです。)

**4.** `labels` をインデックスとして辞書型の `data` から DataFrame `df` を作りなさい。

In [4]:
import numpy as np

In [5]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

`pandas.DataFrame` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

`class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)`

Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure.

    data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, or list-like objects

    If data is a dict, column order follows insertion-order for Python 3.6 and later.

    If data is a list of dicts, column order follows insertion-order Python 3.6 and later.

    index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided

    columns : Index or array-like
    Column labels to use for resulting frame. Will default to RangeIndex (0, 1, 2, …, n) if no column labels are provided

    dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer

    copy : boolean, default False
    Copy data from inputs. Only affects DataFrame / 2d ndarray input

**5.** DataFrame と読み込んだデータについての基礎情報のサマリーを表示しなさい。

In [6]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

**6.** DataFrame `df` の最初の ３ 行を表示しなさい。

In [7]:
df.iloc[:3, :]
#df[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** DataFrame `df` から 'animal' と 'age' カラムを選択して表示しなさい。

In [8]:
df[['animal', 'age']]
## 選択するカラムをリスト形式で渡すこと。

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** `[3, 4, 8]` 行かつ `['animal', 'age']` カラムのデータを選択して表示しなさい。

In [9]:
df.loc[df.index[[3,4,8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** 'visits' が ２ より大きい行を選択して表示しなさい。

In [10]:
df[df['visits'] > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

**10.** 'age' のデータが欠損している、すなわち `NaN` である行を選択して表示しなさい。

In [11]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** 'animal' が cat で、かつ 'age' が ３ 未満である行を選択して表示しなさい。

In [12]:
df[(df['animal']=='cat') & (df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** 'age' が ２ 以上 4 以下である行を選択して表示しなさい。

In [13]:
df[ df['age'].between(2, 4) ]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** 'f' 行の 'age' データを 1.5 に変更しなさい。

In [14]:
print(df)
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**14.** 'visits' のすべての和を計算しなさい。

In [15]:
df['visits'].sum()

19

**15.** それぞれの 'animal' の種類ごとに 'age' の平均を計算しなさい。

In [16]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** DataFrame `df` に適当な値をもった 'k' 行を追加しなさい。その次に、その追加した行を削除しなさい。

In [17]:
df.loc['k'] = ['snake', 2.5, 1, 'no']
print(df)
df = df.drop('k')
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k  snake  2.5       1       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

`pandas.DataFrame.drop` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

`DataFrame.drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')`

Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level.

    labels : single label or list-like
    Index or column labels to drop.

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    Whether to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’).

    index : single label or list-like
    Alternative to specifying axis (labels, axis=0 is equivalent to index=labels).

    New in version 0.21.0.

    columns : single label or list-like
    Alternative to specifying axis (labels, axis=1 is equivalent to columns=labels).

    New in version 0.21.0.

    level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.

    inplace : bool, default False
    If True, do operation inplace and return None.

    errors : {‘ignore’, ‘raise’}, default ‘raise’
    If ‘ignore’, suppress error and only existing labels are dropped.

**17.** 'animal' の種類の数を数えなさい。

In [18]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

`pandas.Series.value_counts` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

`Series.value_counts(self, normalize=False, sort=True, ascending=False, bins=None, dropna=True)`

Return a Series containing counts of unique values.

The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

    normalize : boolean, default False
    If True then the object returned will contain the relative frequencies of the unique values.

    sort : boolean, default True
    Sort by frequencies.

    ascending : boolean, default False
    Sort in ascending order.

    bins : integer, optional
    Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data.

    dropna : boolean, default True
    Don’t include counts of NaN.

**18.** DataFrame `df` を初めに 'age' カラムの値で降順にソートし、その次に 'visits' カラムの値で昇順にソートしなさい。

In [19]:
#df.sort_index(by=['age', 'visits'], ascending=[False, True])
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

**19.** 'priority' カラムは 'yes' と 'no' の値をもっている。このカラムの値に対して 'yes' を `True`、'no' を `False` で置き換えなさい。

In [20]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print(df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

pandas.Series.map [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html)

Series.map(self, arg, na_action=None)

Map values of Series according to input correspondence.

Used for substituting each value in a Series with another value, that may be derived from a function, a `dict` or a `Series`.

    arg : function, dict, or Series
    Mapping correspondence.

    na_action : {None, ‘ignore’}, default None
    If ‘ignore’, propagate NaN values, without passing them to the mapping correspondence.

**20.** 'animal' カラムに対して、'snake' を 'python' に変更しなさい。

In [21]:
df['animal'] = df['animal'].replace('snake', 'python')

**21.** それぞれの 'animal' の種類と 'visits' の回数に対して、'age' の平均を求めなさい。言い換えると、行が 'animal'、カラムが 'visits'、そして値が 'age' の平均である DataFrame を作りなさい。(ヒント： ピボットテーブルを使う。)

In [36]:
df.pivot_table(values='age', index='animal', columns='visits', aggfunc='mean')

KeyError: 'age'

`pandas.DataFrame.pivot_table` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html)

`DataFrame.pivot_table(self, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)`

Create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table index. If an array is passed, it is being used as the same manner as column values.

    columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table column. If an array is passed, it is being used as the same manner as column values.

    aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names (inferred from the function objects themselves) If dict is passed, the key is column to aggregate and value is function or list of functions

    fill_value : scalar, default None
    Value to replace missing values with

    margins : boolean, default False
    Add all row / columns (e.g. for subtotal / grand totals)

    dropna : boolean, default True
    Do not include columns whose entries are all NaN

    margins_name : string, default ‘All’
    Name of the row / column that will contain the totals when margins is True.

    observed : boolean, default False
    This only applies if any of the groupers are Categoricals. If True: only show observed values for categorical groupers. If False: show all values for categorical groupers.

    Changed in version 0.25.0.

## DataFrames: 基礎を学んだ人向け

### ややトリッキー: 複数のメソッドを組み合わせて使う必要がある。

難易度: *medium*

前のセクションで扱った内容は基礎的だが必要不可欠な操作だった。以下では、データをカットするために必要になる手法を扱うが、すぐに使うことはないかもしれない。

**22.** 整数の入っている 'A' カラムをもっている DataFrame 'A' がある。例えば
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

すぐ上の行と同じ値をもつ行を取り除くにはどうすればいいですか？

In [23]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

In [24]:
print(df['A'].drop_duplicates())
print()
print(df.drop_duplicates(subset='A'))
print()
print(df.drop_duplicates(subset='A', keep=False))

0    1
1    2
3    3
4    4
5    5
8    6
9    7
Name: A, dtype: int64

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

   A
0  1
3  3
4  4
8  6

`pandas.DataFrame.drop_duplicates` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html)

`DataFrame.drop_duplicates(self, subset=None, keep='first', inplace=False)`

Return DataFrame with duplicate rows removed, optionally only considering certain columns. Indexes, including time indexes are ignored.

    subset : column label or sequence of labels, optional
    Only consider certain columns for identifying duplicates, by default use all of the columns

    keep : {‘first’, ‘last’, False}, default ‘first’
    first : Drop duplicates except for the first occurrence.
    last : Drop duplicates except for the last occurrence.
    False : Drop all duplicates.
    inplace : boolean, default False
    Whether to drop duplicates in place or to return a copy

**23.** 次のような数値の DataFrame が与えられたとする。
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # 実数値を要素とする 5x3 の配列
```
それぞれの行の平均を対応する行のそれぞれの要素から差し引くにはどうすればいいですか？

In [25]:
df = pd.DataFrame(np.random.random((5, 3)))
df.sub( df.mean(axis=1), axis=0 )

          0         1         2
0  0.192252  0.036577 -0.228829
1 -0.259327  0.106661  0.152667
2 -0.025475  0.430798 -0.405323
3  0.365268 -0.410243  0.044975
4 -0.400555  0.142320  0.258234

- `pandas.DataFrame.mean(axis=0)` 列 (カラム) ごとに平均をとる
- `pandas.DataFrame.mean(axis=1)` 行ごとに平均をとる

`pandas.DataFrame.sub` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sub.html)

`DataFrame.sub(self, other, axis='columns', level=None, fill_value=None)`

Get Subtraction of dataframe and other, element-wise (binary operator sub).

Equivalent to `dataframe - other`, but with support to substitute a fill_value for missing data in one of the inputs. With reverse version, `rsub`.

Among flexible wrappers (add, sub, mul, div, mod, pow) to arithmetic operators: +, -, \*, /, //, %, \*\*.

    other : scalar, sequence, Series, or DataFrame
    Any single or multiple element data structure, or list-like object.

    axis : {0 or ‘index’, 1 or ‘columns’}
    Whether to compare by the index (0 or ‘index’) or columns (1 or ‘columns’). For Series input, axis to match Series index on.

    level : int or label
    Broadcast across a level, matching Index values on the passed MultiIndex level.

    fill_value : float or None, default None
    Fill existing missing (NaN) values, and any new element needed for successful DataFrame alignment, with this value before computation. If data in both corresponding DataFrame locations is missing the result will be missing.

**24.** 実数の入っている 10 列の DataFrame があるとする。例えば
```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
どの列 (カラム) の和が最小か、その列のラベル (列の名前) を取得せよ。

In [26]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df.sum(axis=0))
df.sum(axis=0).idxmin()

a    1.663970
b    3.315396
c    2.219191
d    2.649228
e    3.206379
f    1.777875
g    2.064203
h    2.193731
i    2.515843
j    3.368839
dtype: float64

'a'

**25.** DataFrame の中でユニークな行の数を知るにはどうすればいいか？ (すなわち、重複している行を無視しなさい。)

In [27]:
df = pd.DataFrame(np.random.randint(0,5,(10, 2)))
#print(df)
#print()
print(df.drop_duplicates())
len( df.drop_duplicates(keep=False) )

   0  1
0  4  1
1  1  0
2  2  2
3  2  1
4  0  0
5  3  2
6  4  4
7  0  3
9  2  0

8

- `pandas.DataFrame.drop_duplicates(keep=False)`  重複した行を全て落とす
- `pandas.DataFrame.drop_duplicates(keep='first')`  重複した行で最初の行だけ残す
- `pandas.DataFrame.drop_duplicates(keep='last')`  重複した行で最後の行だけ残す

次の 3 問は少し難しい。

**26.** 浮動小数点数の入っている 10 列から成る DataFrame があり、各行には 5 つの NaN がそれぞれ含まれているとする。各行で左から 3 つめの NaN を含むカラムを探すにはどうすればいいか？ カラムのラベルを Series 形式で表示しなさい。

In [28]:
df = pd.DataFrame(np.random.randn(3, 10))
df.iloc[0, ::2] = np.nan
df.iloc[1, 1::2] = np.nan
df.iloc[2, [0, 2, 5, 8, 9]] = np.nan
print(df)
#print( df.isnull().cumsum(axis=1) == 3 ) 
print()
print( (df.isnull().cumsum(axis=1) == 3).idxmax(axis=1) )

          0         1        2         3         4         5         6  \
0       NaN  1.780497      NaN -1.637902       NaN  0.408207       NaN
1  1.032546       NaN -0.14357       NaN -1.618617       NaN -1.069066
2       NaN -0.094320      NaN -0.977447  1.295668       NaN -1.039906

          7         8         9
0  0.266723       NaN  2.058436
1       NaN -0.130077       NaN
2 -0.951007       NaN       NaN

0    4
1    5
2    5
dtype: int64

- `pandas.DataFrame.cumsum` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.cumsum.html)

`DataFrame.cumsum(self, axis=None, skipna=True, *args, **kwargs)`

Return cumulative sum over a DataFrame or Series axis.

Returns a DataFrame or Series of the same size containing the cumulative sum.

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    The index or the name of the axis. 0 is equivalent to None or ‘index’.

    skipna : boolean, default True
    Exclude NA/null values. If an entire row/column is NA, the result will be NA.

    *args, **kwargs :
    Additional keywords have no effect but might be accepted for compatibility with NumPy.

- `pandas.DataFrame.idxmax` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html)

`DataFrame.idxmax(self, axis=0, skipna=True)`

Return index of **first occurrence of maximum** over requested axis. `NA/null` values are excluded.

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise

    skipna : boolean, default True
    Exclude NA/null values. If an entire row/column is NA, the result will be NA.

**27.** ある DataFrame が 'grps' というカラム群と 'vals' という数値のカラム群から構成されている。例えば
```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
'grps' の要素の種類ごとに 'vals' を大きさの順に並べたとき、それぞれの 'grps' の種類で上位 3 つの和を取得しなさい。

In [29]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [30]:
#print( df.groupby('grps')['vals'].nlargest(3) )
print( df.groupby('grps')['vals'].nlargest(3).sum(level=0) )

grps
a    409
b    156
c    345
Name: vals, dtype: int64

- `pandas.DataFrame.nlargest` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nlargest.html)

`DataFrame.nlargest(self, n, columns, keep='first')`

Return the first `n` rows ordered by `columns` in descending order.

Return the first `n` rows with the largest values in `columns`, in descending order. The columns that are not specified are returned as well, but not used for ordering.

This method is equivalent to `df.sort_values(columns, ascending=False).head(n)`, but more performant.

    n : int
    Number of rows to return.

    columns : label or list of labels
    Column label(s) to order by.

    keep : {‘first’, ‘last’, ‘all’}, default ‘first’
    Where there are duplicate values:
    - first : prioritize the first occurrence(s)
    - last : prioritize the last occurrence(s)
    - all : do not drop any duplicates, even it means
    selecting more than n items.

- `pandas.DataFrame.sum` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html)

`DataFrame.sum(self, axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs)`

Return the sum of the values for the requested axis.

This is equivalent to the method `numpy.sum`.

    axis : {index (0), columns (1)}
    Axis for the function to be applied on.

    skipna : bool, default True
    Exclude NA/null values when computing the result.

    level : int or level name, default None
    If the axis is a MultiIndex (hierarchical), count along a particular level, collapsing into a Series.

    numeric_only : bool, default None
    Include only float, int, boolean columns. If None, will attempt to use everything, then use only numeric data. Not implemented for Series.

    min_count : int, default 0
    The required number of valid values to perform the operation. If fewer than min_count non-NA values are present the result will be NA.

    New in version 0.22.0: Added with the default being 0. This means the sum of an all-NA or empty Series is 0, and the product of an all-NA or empty Series is 1.

    **kwargs
    Additional keyword arguments to be passed to the function.

**28.** 整数が入っている 2 つのカラム 'A' と 'B' があり、'A' は 1 以上 100 以下の値である。カラム 'A' を等間隔に 10 個のグループに分けたとき (すなわち `(0, 10]`, `(10, 20]`, ..., `(90, 100]` の １０ 群)、対応するカラム 'B' の和を計算しなさい。

In [31]:
df = pd.DataFrame(np.random.randint(0, 100, (300, 2)), columns=['A', 'B'])
#df.head()
A_bin = pd.cut(df['A'], range(0, 101, 10))
print( df.groupby(A_bin)['B'].sum() )

A
(0, 10]      1383
(10, 20]     1896
(20, 30]     1808
(30, 40]     1230
(40, 50]     1328
(50, 60]      938
(60, 70]     1368
(70, 80]     1385
(80, 90]     1382
(90, 100]    2185
Name: B, dtype: int32

`pandas.cut` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html)

`pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise')`

Bin values into discrete intervals.

Use `cut` when you need to segment and sort data values into bins. This function is also useful for going from a continuous variable to a categorical variable. For example, `cut` could convert ages to groups of age ranges. Supports binning into an equal number of bins, or a pre-specified array of bins.

    x : array-like
    The input array to be binned. Must be 1-dimensional.

    bins : int, sequence of scalars, or IntervalIndex
    The criteria to bin by.

    int : Defines the number of equal-width bins in the range of x. The range of x is extended by .1% on each side to include the minimum and maximum values of x.
    sequence of scalars : Defines the bin edges allowing for non-uniform width. No extension of the range of x is done.
    IntervalIndex : Defines the exact bins to be used. Note that IntervalIndex for bins must be non-overlapping.
    right : bool, default True
    Indicates whether bins includes the rightmost edge or not. If right == True (the default), then the bins [1, 2, 3, 4] indicate (1,2], (2,3], (3,4]. This argument is ignored when bins is an IntervalIndex.

    labels : array or bool, optional
    Specifies the labels for the returned bins. Must be the same length as the resulting bins. If False, returns only integer indicators of the bins. This affects the type of the output container (see below). This argument is ignored when bins is an IntervalIndex.

    retbins : bool, default False
    Whether to return the bins or not. Useful when bins is provided as a scalar.

    precision : int, default 3
    The precision at which to store and display the bins labels.

    include_lowest : bool, default False
    Whether the first interval should be left-inclusive or not.

    duplicates : {default ‘raise’, ‘drop’}, optional
    If bin edges are not unique, raise ValueError or drop non-uniques.

    New in version 0.23.0.

## DataFrames: 上級問題

このセクションの問題は多少時間がかかるだろう。
しかし、標準的な pandas/numpy のメソッドを使って解くことができる。(ただし for 文を使うことは避けてほしい。)

難易度: *hard*

**29.** 次のようなカラム 'X' をもつ DataFrame を考える。
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
カラム内のそれぞれの値に対して、自分より左側の直近の 0 または Series の左端のいずれかの近い方までの距離を数えなさい。解答としては `[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]` が得られる。このようなカラム 'Y' を作りなさい。

In [32]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [33]:
#print(df.T)
#print()
izero = np.r_[-1, (df['X'] == 0).to_numpy().nonzero()[0]] # 0 の位置のインデックス
#print( (df['X'] == 0).to_numpy() )
#print( (df['X'] == 0).to_numpy().nonzero() )
#print( (df['X'] == 0).to_numpy().nonzero()[0] )
#print( "izero =", izero )
#print( "izero - 1 =", izero - 1)
idx = np.arange(len(df))
#print( "idx =", idx)
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
#print( "searchsorted =", np.searchsorted(izero - 1, idx) )
#print( izero[np.searchsorted(izero - 1, idx) - 1] )
#print()
print(df.T)

   0  1  2  3  4  5  6  7  8  9
X  7  2  0  3  4  2  5  0  3  4
Y  1  2  0  1  2  3  4  0  1  2

- `numpy.r_` [manual](https://docs.scipy.org/doc/numpy/reference/generated/numpy.r_.html)

`numpy.r_ = <numpy.lib.index_tricks.RClass object>`

Translates slice objects to concatenation along the first axis.

This is a simple way to build up arrays quickly. There are two use cases.

1. If the index expression contains comma separated arrays, then stack them along their first axis.
1. If the index expression contains slice notation or scalars then create a 1-D array with a range indicated by the slice notation.

If slice notation is used, the syntax `start:stop:step` is equivalent to `np.arange(start, stop, step)` inside of the brackets. However, if `step` is an imaginary number (i.e. 100j) then its integer portion is interpreted as a number-of-points desired and the start and stop are inclusive. In other words `start:stop:step` is interpreted as `np.linspace(start, stop, step, endpoint=1)` inside of the brackets. After expansion of slice notation, all comma separated sequences are concatenated together.

Optional character strings placed as the first element of the index expression can be used to change the output. The strings ‘r’ or ‘c’ result in matrix output. If the result is 1-D and ‘r’ is specified a 1 x N (row) matrix is produced. If the result is 1-D and ‘c’ is specified, then a N x 1 (column) matrix is produced. If the result is 2-D then both provide the same matrix result.

A string integer specifies which axis to stack multiple comma separated arrays along. A string of two comma-separated integers allows indication of the minimum number of dimensions to force each entry into as the second integer (the axis to concatenate along is still the first integer).

A string with three comma-separated integers allows specification of the axis to concatenate along, the minimum number of dimensions to force the entries to, and which axis should contain the start of the arrays which are less than the specified number of dimensions. In other words the third integer allows you to specify where the 1’s should be placed in the shape of the arrays that have their shapes upgraded. By default, they are placed in the front of the shape tuple. The third argument allows you to specify where the start of the array should be instead. Thus, a third argument of ‘0’ would place the 1’s at the end of the array shape. Negative integers specify where in the new shape tuple the last dimension of upgraded arrays should be placed, so the default is ‘-1’.

- `numpy.searchsorted` [manual]()

`numpy.searchsorted(a, v, side='left', sorter=None)`

Find indices where elements should be inserted to maintain order.

Find the indices into a sorted array a such that, if the corresponding elements in v were inserted before the indices, the order of a would be preserved.

Assuming that a is sorted:

    side	returned index i satisfies
    left	a[i-1] < v <= a[i]
    right	a[i-1] <= v < a[i]
    
    a : 1-D array_like
    Input array. If sorter is None, then it must be sorted in ascending order, otherwise sorter must be an array of indices that sort it.

    v : array_like
    Values to insert into a.

    side : {‘left’, ‘right’}, optional
    If ‘left’, the index of the first suitable location found is given. If ‘right’, return the last such index. If there is no suitable index, return either 0 or N (where N is the length of a).

    sorter : 1-D array_like, optional
    Optional array of integer indices that sort array a into ascending order. They are typically the result of argsort.

Here's an alternative approach based on a [cookbook recipe](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#grouping):

**30.** 数値データだけが入っている DataFrame を考える。大きさの順で上位 ３ つの値の入っている場所の行 row と列 column のインデックスを取得しなさい。

In [34]:
df = pd.DataFrame(np.random.random((10, 10)))
#print( df.unstack() )
#print( df.unstack().sort_values()[-3] )
print( df.unstack().sort_values()[-3:] )
print( df.unstack().sort_values()[-3:].index.tolist() )

9  7    0.960025
1  3    0.963125
7  7    0.974246
dtype: float64
[(9, 7), (1, 3), (7, 7)]

- `pandas.DataFrame.unstack` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html)

`DataFrame.unstack(self, level=-1, fill_value=None)`

Pivot a level of the (necessarily hierarchical) index labels, returning a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

If the index is not a MultiIndex, the output will be a Series (the analogue of stack when the columns are not a MultiIndex).

The level involved will automatically get sorted.

    level : int, string, or list of these, default -1 (last level)
    Level(s) of index to unstack, can pass level name

    fill_value : replace NaN with this value if the unstack produces
    missing values

- `pandas.DataFrame.sort_values` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

`DataFrame.sort_values(self, by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

Sort by the values along either axis.

    by : str or list of str
    Name or list of names to sort by.

    if axis is 0 or ‘index’ then by may contain index levels and/or column labels
    if axis is 1 or ‘columns’ then by may contain column levels and/or index labels
    Changed in version 0.23.0: Allow specifying index or column level names.

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    Axis to be sorted.

    ascending : bool or list of bool, default True
    Sort ascending vs. descending. Specify list for multiple sort orders. If this is a list of bools, must match the length of the by.

    inplace : bool, default False
    If True, perform operation in-place.

    kind : {‘quicksort’, ‘mergesort’, ‘heapsort’}, default ‘quicksort’
    Choice of sorting algorithm. See also ndarray.np.sort for more information. mergesort is the only stable algorithm. For DataFrames, this option is only applied when sorting on a single column or label.

    na_position : {‘first’, ‘last’}, default ‘last’
    Puts NaNs at the beginning if first; last puts NaNs at the end.

- `pandas.Index.tolist` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.tolist.html)

`Index.tolist(self)`

Return a list of the values.

These are each a scalar type, which is a Python scalar (for str, int, float) or a pandas scalar (for Timestamp/Timedelta/Interval/Period)

**31.** 'grps' というグループ ID をもつカラムと整数の入った 'vals' というカラムをもつ DataFrame がある。'grps' ごとに値をまとめたとき、'vals' が負であるものを 'grps' ごとの平均で置き換えなさい。

In [35]:
def replace(group):
    mask = group < 0
    group[mask] = group[~mask].mean()
    return group

df.groupby('grps')['vals'].transform(replace)

KeyError: 'grps'

`pandas.DataFrame.transform` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html)

`DataFrame.transform(self, func, axis=0, *args, **kwargs)`

Call func on self producing a DataFrame with transformed values and that has the same axis length as self.

    func : function, str, list or dict
    Function to use for transforming the data. If a function, must either work when passed a DataFrame or when passed to DataFrame.apply.

    Accepted combinations are:
    - function
    - string function name
    - list of functions and/or function names, e.g. [np.exp. 'sqrt']
    - dict of axis labels -> functions, function names or list of such.

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    If 0 or ‘index’: apply function to each column. If 1 or ‘columns’: apply function to each row.

    *args
    Positional arguments to pass to func.

    **kwargs
    Keyword arguments to pass to func.

**32.** 次の DataFrame について、ウィンドー幅が 3 の移動平均を実装しなさい。ただし、 NaN は無視しなさい。
```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
答えは次のようにしてほしい。
```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
すなわち、幅 3 のウィンドーので groub 'b' に対する最初のウィンドーは 3.0, NaN, そして 3.0 で、それらの平均がインデックス 5 の行の位置で返される。NaN がある場合は無視して計算する。

In [ ]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                   'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})

In [ ]:
print(df)
g1 = df.groupby('group')['value']
g2 = df.fillna(0).groupby('group')['value']
m = g2.rolling(3, min_periods=1).sum() / g1.rolling(3, min_periods=1).count()
#print(m)
print( m.reset_index(level=0, drop=False).sort_index() )
print()
print( m.reset_index(level=0, drop=True).sort_index() )

- `pandas.DataFrame.rolling` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html)

`DataFrame.rolling(self, window, min_periods=None, center=False, win_type=None, on=None, axis=0, closed=None)`

Provide rolling window calculations.

    window : int, or offset
    Size of the moving window. This is the number of observations used for calculating the statistic. Each window will be a fixed size.

    If its an offset then this will be the time period of each window. Each window will be a variable sized based on the observations included in the time-period. This is only valid for datetimelike indexes. This is new in 0.19.0

    min_periods : int, default None
    Minimum number of observations in window required to have a value (otherwise result is NA). For a window that is specified by an offset, min_periods will default to 1. Otherwise, min_periods will default to the size of the window.

    center : bool, default False
    Set the labels at the center of the window.

    win_type : str, default None
    Provide a window type. If None, all points are evenly weighted. See the notes below for further information.

    on : str, optional
    For a DataFrame, a datetime-like column on which to calculate the rolling window, rather than the DataFrame’s index. Provided integer column is ignored and excluded from result since an integer index is not used to calculate the rolling window.

    axis : int or str, default 0
    closed : str, default None
    Make the interval closed on the ‘right’, ‘left’, ‘both’ or ‘neither’ endpoints. For offset-based windows, it defaults to ‘right’. For fixed windows, defaults to ‘both’. Remaining cases not implemented for fixed windows.

- `pandas.DataFrame.reset_index` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)

`DataFrame.reset_index(self, level=None, drop=False, inplace=False, col_level=0, col_fill='')`

Reset the index, or a level of it.

Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.

    level : int, str, tuple, or list, default None
    Only remove the given levels from the index. Removes all levels by default.

    drop : bool, default False
    Do not try to insert index into dataframe columns. This resets the index to the default integer index.

    inplace : bool, default False
    Modify the DataFrame in place (do not create a new object).

    col_level : int or str, default 0
    If the columns have multiple levels, determines which level the labels are inserted into. By default it is inserted into the first level.

    col_fill : object, default ‘’
    If the columns have multiple levels, determines how the other levels are named. If None then the index name is repeated.
    
- `pandas.DataFrame.sort_index` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html)

`DataFrame.sort_index(self, axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, by=None)`

Sort object by labels (along an axis).

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    The axis along which to sort. The value 0 identifies the rows, and 1 identifies the columns.

    level : int or level name or list of ints or list of level names
    If not None, sort on values in specified index level(s).

    ascending : bool, default True
    Sort ascending vs. descending.

    inplace : bool, default False
    If True, perform operation in-place.

    kind : {‘quicksort’, ‘mergesort’, ‘heapsort’}, default ‘quicksort’
    Choice of sorting algorithm. See also ndarray.np.sort for more information. mergesort is the only stable algorithm. For DataFrames, this option is only applied when sorting on a single column or label.

    na_position : {‘first’, ‘last’}, default ‘last’
    Puts NaNs at the beginning if first; last puts NaNs at the end. Not implemented for MultiIndex.

    sort_remaining : bool, default True
    If True and sorting by level and index is multilevel, sort by other levels too (in order) after sorting by specified level.

## Series and DatetimeIndex

### 日時のデータの作成と操作

難易度: *easy/medium*

pandas は日時の取り扱いに長けている。このセクションではその機能を見ていこう。

**33.** 2015 年の business day (平日) の DatatimeIndex を作りなさい。そして、それを乱数の Series のインデックスとしなさい。この Series を 's' と呼ぶことにする。

In [ ]:
dti = pd.date_range('2015-01-01', '2015-12-31', freq='B')
s = pd.Series(np.random.random(len(dti)), index=dti)
print(s[:10])

- `pandas.date_range` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)

`pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)`

Return a fixed frequency DatetimeIndex.

    start : str or datetime-like, optional
    Left bound for generating dates.

    end : str or datetime-like, optional
    Right bound for generating dates.

    periods : integer, optional
    Number of periods to generate.

    freq : str or DateOffset, default ‘D’
    Frequency strings can have multiples, e.g. ‘5H’. See here for a list of frequency aliases.

    tz : str or tzinfo, optional
    Time zone name for returning localized DatetimeIndex, for example ‘Asia/Hong_Kong’. By default, the resulting DatetimeIndex is timezone-naive.

    normalize : bool, default False
    Normalize start/end dates to midnight before generating date range.

    name : str, default None
    Name of the resulting DatetimeIndex.

    closed : {None, ‘left’, ‘right’}, optional
    Make the interval closed with respect to the given frequency to the ‘left’, ‘right’, or both sides (None, the default).

    **kwargs
    For compatibility. Has no effect on the result.
    
- DatetimeIndex の freq の設定は[こちら](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)

**34.** `s` の中で水曜日の値の和を計算しなさい。

In [ ]:
s[s.index.weekday == 2].sum()

`index.weekday` の曜日と数字の対応は
- Monday    : 0
- Tuesday   : 1
- Wednesday : 2
- Thursday  : 3
- Friday    : 4
- Saturdary : 5
- Sunday    : 6

**35.** `s` の中で月ごとの平均を計算しなさい。

In [ ]:
s.resample('M').sum()

`pandas.DataFrame.resample` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html)

`DataFrame.resample(self, rule, how=None, axis=0, fill_method=None, closed=None, label=None, convention='start', kind=None, loffset=None, limit=None, base=0, on=None, level=None)`

Resample time-series data.

Convenience method for frequency conversion and resampling of time series. Object must have a datetime-like index (DatetimeIndex, PeriodIndex, or TimedeltaIndex), or pass datetime-like values to the on or level keyword.

**36.** ４ヶ月ごとに最大値を有する日にちを取得しなさい。

In [ ]:
print( s.groupby(pd.Grouper(freq='4M')).idxmax() )
print( s.groupby(pd.Grouper(freq='4M')).max() )

`pandas.Grouper` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html)

`class pandas.Grouper(key=None, level=None, freq=None, axis=0, sort=False)`

A Grouper allows the user to specify a groupby instruction for a target object

This specification will select a column via the key parameter, or if the level and/or axis parameters are given, a level of the index of the target object.

If axis and/or level are passed as keywords to both Grouper and groupby, the values passed to Grouper take precedence.

    key : string, defaults to None
    groupby key, which selects the grouping column of the target

    level : name/number, defaults to None
    the level for the target index

    freq : string / frequency object, defaults to None
    This will groupby the specified frequency if the target selection (via key or level) is a datetime-like object. For full specification of available frequencies, please see [here](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases).

    axis : number/name of the axis, defaults to 0
    sort : boolean, default to False
    whether to sort the resulting labels

    closed : {‘left’ or ‘right’}
    Closed end of interval. Only when freq parameter is passed.

    label : {‘left’ or ‘right’}
    Interval boundary to use for labeling. Only when freq parameter is passed.

    convention : {‘start’, ‘end’, ‘e’, ‘s’}
    If grouper is PeriodIndex and freq parameter is passed.

    base : int, default 0
    Only when freq parameter is passed.

    loffset : string, DateOffset, timedelta object
    Only when freq parameter is passed.

**37.** 2015年と2016年について、毎月第３木曜日の DatetimeIndex を作りなさい。

In [ ]:
df = pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')
print(df)

## データのクリーニング

### DataFrame を扱いやすいように加工する

難易度: *easy/medium*

与えられたデータに不適切な文字が入っていたり、形式がバラバラだったり、欠損があったりするのは日常茶飯事である。
そのようなデータに対して、分析できるように整えるにはどうすればいいか。

このセクションでは、そのような綺麗でないデータを扱う。

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```
(It's some flight data I made up; it's not meant to be accurate in any way.)

In [ ]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})

**38.** 'FlightNumber' カラムには欠損値がある。このカラムの数字は 10 ずつ増加しているので 10055 と 10075 が置き換えられるべき値である。これらの欠損を補間し、カラムのデータ型を int 型にしなさい。

In [ ]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
print(df)

`pandas.DataFrame.interpolate` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html)

`DataFrame.interpolate(self, method='linear', axis=0, limit=None, inplace=False, limit_direction='forward', limit_area=None, downcast=None, **kwargs)`

Interpolate values according to different methods.

Please note that only `method='linear'` is supported for DataFrame/Series with a MultiIndex.

**39.** 'From\_To' カラムは2つに分割したほうがよい。アンダースコア '\_' で文字を区切り、仮の DataFrame を作り、ふさわしいカラム名を付けなさい。

In [ ]:
tmp = df['From_To'].str.split('_', expand=True)
tmp.columns = ['From', 'To']
print(tmp)

`pandas.Series.str.split` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html)

`Series.str.split(self, pat=None, n=-1, expand=False)`

Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning, at the specified delimiter string. Equivalent to `str.split()`.

    pat : str, optional
    String or regular expression to split on. If not specified, split on whitespace.

    n : int, default -1 (all)
    Limit number of splits in output. None, 0 and -1 will be interpreted as return all splits.

    expand : bool, default False
    Expand the splitted strings into separate columns.
        - If True, return DataFrame/MultiIndex expanding dimensionality.
        - If False, return Series/Index, containing lists of strings.

**40.** 前問で得られた都市名は大文字と小文字が混じっている。これらを初めの文字だけ大文字の状態にしなさい。

In [ ]:
tmp['From'] = tmp['From'].str.capitalize()
tmp['To'] = tmp['To'].str.capitalize()
print(tmp)

`pandas.Series.str.capitalize` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.capitalize.html)

`Series.str.capitalize(self)`

Convert strings in the Series/Index to be capitalized.

Equivalent to [str.capitalize()](https://docs.python.org/3/library/stdtypes.html#str.capitalize).

**41.** Delete the From_To column from `df` and attach the temporary DataFrame from the previous questions.

In [ ]:
df = df.drop('From_To', axis=1).join(tmp)
print(df)

- `pandas.DataFrame.drop` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

`DataFrame.drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')`

Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level.

    labels : single label or list-like
    Index or column labels to drop.

    axis : {0 or ‘index’, 1 or ‘columns’}, default 0
    Whether to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’).

    index : single label or list-like
    Alternative to specifying axis (labels, axis=0 is equivalent to index=labels).

    New in version 0.21.0.

    columns : single label or list-like
    Alternative to specifying axis (labels, axis=1 is equivalent to columns=labels).

    New in version 0.21.0.

    level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.

    inplace : bool, default False
    If True, do operation inplace and return None.

    errors : {‘ignore’, ‘raise’}, default ‘raise’
    If ‘ignore’, suppress error and only existing labels are dropped.
    
- `pandas.DataFrame.join` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)

`DataFrame.join(self, other, on=None, how='left', lsuffix='', rsuffix='', sort=False)`

Join columns of another DataFrame.

Join columns with other DataFrame either on index or on a key column. Efficiently join multiple DataFrame objects by index at once by passing a list.    

    other : DataFrame, Series, or list of DataFrame
    Index should be similar to one of the columns in this one. If a Series is passed, its name attribute must be set, and that will be used as the column name in the resulting joined DataFrame.

    on : str, list of str, or array-like, optional
    Column or index level name(s) in the caller to join on the index in other, otherwise joins index-on-index. If multiple values given, the other DataFrame must have a MultiIndex. Can pass an array as the join key if it is not already contained in the calling DataFrame. Like an Excel VLOOKUP operation.

    how : {‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘left’
    How to handle the operation of the two objects.
        - left: use calling frame’s index (or column if on is specified)
        - right: use other’s index.
        - outer: form union of calling frame’s index (or column if on is specified) with other’s index, and sort it. lexicographically.
        - inner: form intersection of calling frame’s index (or column if on is specified) with other’s index, preserving the order of the calling’s one.
        
    lsuffix : str, default ‘’
    Suffix to use from left frame’s overlapping columns.

    rsuffix : str, default ‘’
    Suffix to use from right frame’s overlapping columns.

    sort : bool, default False
    Order result DataFrame lexicographically by the join key. If False, the order of the join key depends on the join type (how keyword).

**42**. 'Airline' カラムには航空会社の名前の他に余計な点や記号が混じっている。'Airline' カラムから航空会社の名前だけを取得しなさい。すなわち。`'(British Airways. )'` から `'British Airways'`を抜き出しなさい。

In [ ]:
df['Airline'] = df['Airline'].str.extract('([a-zA-Z\s]+)')
print(df)

- `pandas.Series.str.extract` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html)

`Series.str.extract(self, pat, flags=0, expand=True)`

Extract capture groups in the regex `pat` as columns in a DataFrame.

For each subject string in the Series, extract groups from the first match of regular expression `pat`.

    pat : str
    Regular expression pattern with capturing groups.

    flags : int, default 0 (no flags)
    Flags from the re module, e.g. re.IGNORECASE, that modify regular expression matching for things like case, spaces, etc. For more details, see re.

    expand : bool, default True
    If True, return DataFrame with one column per capture group. If False, return a Series/Index if there is one capture group or DataFrame if there are multiple capture groups.
    
- [正規表現 regular expression](https://murashun.jp/blog/20190215-01.html#chapter-1)

正規表現 `'([a-zA-Z\s]+)'` の説明

- `[a-z]` : 小文字のアルファベットのいずれか一文字
- `[A-Z]` : 大文字のアルファベットのいずれか一文字
- `\s` : スペース
- `[a-zA-Z\s]` : アルファベットまたはスペースのいずれか一文字
- `([a-zA-Z\s]+)` : アルファベットまたはスペースのいずれか一文字が1回以上続く

`str.extract('([a-zA-Z\s]+)')` を実行すると、アルファベットまたはスペースに始まり、アルファベットでもスペースでもない文字の直前までの文字列が検出される。

**43**. 'RecentDelays' カラムにはリスト形式のデータが入っている。そのリストの値を順番に個別のカラムに分けたい。ただし、該当の値が存在しない場合は NaN を入力する。

'RecentDelays' カラムのデータを `delays` という名前の Series に変換し、そこから `delay_1`, `delay_2`, etc. というカラムを作りなさい。そして、不要な 'RecentDelays' カラムを削除しなさい。

In [ ]:
delays = df['RecentDelays'].apply(pd.Series)
delays.columns = ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]
df = df.drop('RecentDelays', axis=1).join(delays)
print(df)

`pandas.DataFrame.apply` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

`DataFrame.apply(self, func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)`

Apply a function along an axis of the DataFrame.

Objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1). By default (result_type=None), the final return type is inferred from the return type of the applied function. Otherwise, it depends on the result_type argument.

## マルチインデックスの利用

### インデックスを追加して DataFrame を使いやすくする

難易度: *medium*

これまでは一つのインデックスしかもたない DataFrame を扱ってきた。しかし、pandas では複数のインデックス (MultiIndex) を利用することができる。これは正に Series や DataFrame に新たな次元を追加するようなものである。例えば、1次元配列である Series に対して、MultiIndex を使うことで 2 次元の DataFrame のように扱うことができる。

このセクションでは、MultiIndex がデータ分析の中でどのように活かされるかを見ていく。

ウォーミングアップとして、2つのインデックスをもつ Series を作ってみよう。

**44**. `letters = ['A', 'B', 'C']` と `numbers = list(range(10))` の 2 つのリストが与えられたとき、2 つの直積から MultiIndex を作りなさい。
そして、その MultiIndex を乱数の Series のインデックスとしなさい。この Series を `s` と呼ぶことにする。

In [ ]:
letters = ['A', 'B', 'C']
numbers = list(range(10))
mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.random(mi.size), index=mi)
print(s)

- `pandas.MultiIndex` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.html)

`class pandas.MultiIndex`

A multi-level, or hierarchical, index object for pandas objects.

- `pandas.MultiIndex.from_product` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.from_product.html)

`classmethod MultiIndex.from_product(iterables, sortorder=None, names=None)`

Make a MultiIndex from the cartesian product of multiple iterables.

    iterables : list / sequence of iterables
    Each iterable has unique labels for each level of the index.

    sortorder : int or None
    Level of sortedness (must be lexicographically sorted by that level).

    names : list / sequence of str, optional
    Names for the levels in the index.

**45.** `s` のインデックスが辞書順にソートされているかチェックしなさい。(辞書順になっていることは MultiIndex が正しく機能するために必要である。)

In [ ]:
s.index.is_lexsorted()

`pandas.MultiIndex.is_lexsorted` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.is_lexsorted.html)

`MultiIndex.is_lexsorted(self)`

Return True if the codes are lexicographically sorted

**46**. `s` の第 ２ レベルのインデックスが `1, 3, 6` のものを選択しなさい。

In [ ]:
s.loc[:, [1, 3, 6]]

**47**. Series `s` を次のようにスライスしなさい。; 第 １ レベルのインデックスに対してラベル 'B' まで、第 ２ レベルのインデックスに対して `5` 以降。

In [ ]:
s.loc[:'B', 5:]

**48**. `s` の第 １ レベルのインデックスごとに和をとりなさい。(すなわち、'A', 'B', 'C' ごとの和を計算しなさい。)

In [ ]:
s.sum(level=0)

#### 別解

In [ ]:
s.groupby(level=0).sum()

**49**. `sum()` や他の関数が `level` の引数をとらないと仮定しましょう。`s.sum(level=1)` と同じ結果を得るにはどうすればいいですか？

In [ ]:
s.unstack().sum(axis=1)

`pandas.DataFrame.unstack` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html)

`DataFrame.unstack(self, level=-1, fill_value=None)`

Pivot a level of the (necessarily hierarchical) index labels, returning a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

If the index is not a MultiIndex, the output will be a Series (the analogue of stack when the columns are not a MultiIndex).

The level involved will automatically get sorted.

    level : int, string, or list of these, default -1 (last level)
    Level(s) of index to unstack, can pass level name

    fill_value : replace NaN with this value if the unstack produces
    missing values

**50**. `s` の MultiIndex のレベルを入れ替えて `(letters, numbers)` の順にしなさい。入れ替えた結果は辞書順になっていますか？もしなっていなかったら、辞書順にソートしなさい。

In [ ]:
t = s.swaplevel(0,1)
print( t.index.is_lexsorted() )
t = t.sort_index()
print( t.index.is_lexsorted() )
print(t)

`pandas.DataFrame.swaplevel` [manual](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.swaplevel.html)

`DataFrame.swaplevel(self, i=-2, j=-1, axis=0)`

Swap levels `i` and `j` in a MultiIndex on a particular axis.

    i, j : int, string (can be mixed)
    Level of index to be swapped. Can pass level name as string.

## マインスイーパー

### Generate the numbers for safe squares in a Minesweeper grid

難易度: *medium* to *hard*

If you've ever used an older version of Windows, there's a good chance you've played with [Minesweeper](https://en.wikipedia.org/wiki/Minesweeper_(video_game). If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

#### 次のコードは `pandas.tools` がないと言われて動かない。

In [ ]:
X = 5
Y = 4
p = pd.tools.util.cartesian_product([np.arange(X), np.arange(Y)])
#p = pd.MultiIndex.from_product([np.arange(X), np.arange(Y)])
print(p)
print(np.array(p))
#df = pd.DataFrame(np.asarray(p).T, columns=['x', 'y'])
df = pd.DataFrame(np.asarray(p).T)
print(df)

**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

In [ ]:
df['mine'] = np.random.binomial(1, 0.4, X*Y)

**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid. 

(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

In [ ]:
# Here is one way to solve using merges.
# It's not necessary the optimal way, just 
# the solution I thought of first...

df['adjacent'] = \
    df.merge(df + [ 1,  1, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 1, -1, 0], on=['x', 'y'], how='left')\
      .merge(df + [-1,  1, 0], on=['x', 'y'], how='left')\
      .merge(df + [-1, -1, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 1,  0, 0], on=['x', 'y'], how='left')\
      .merge(df + [-1,  0, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 0,  1, 0], on=['x', 'y'], how='left')\
      .merge(df + [ 0, -1, 0], on=['x', 'y'], how='left')\
       .iloc[:, 3:]\
        .sum(axis=1)
        
# An alternative solution is to pivot the DataFrame 
# to form the "actual" grid of mines and use convolution.
# See https://github.com/jakevdp/matplotlib_pydata2013/blob/master/examples/minesweeper.py

from scipy.signal import convolve2d

mine_grid = df.pivot_table(columns='x', index='y', values='mine')
counts = convolve2d(mine_grid.astype(complex), np.ones((3, 3)), mode='same').real.astype(int)
df['adjacent'] = (counts - mine_grid).ravel('F')

**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

In [ ]:
df.loc[df['mine'] == 1, 'adjacent'] = np.nan

**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

In [ ]:
df.drop('mine', axis=1)\
  .set_index(['y', 'x']).unstack()

## 可視化, 描画

### データの傾向やパターンを可視化する

難易度: *medium*

DataFrame に入っているデータをよく理解するためには、可視化することが不可欠です。可視化によって傾向や異常値が見つかります。可視化の機能は pandas に組み込まれていて、以下のパズルではどんなことができるのか見ていきましょう。

**56.** pandas は可視化ライブラリの matplotlib と共に開発が進められ、とてもわかりやすく DataFrame の可視化ができます。ノートブック環境での可視化では以下のような定型文が必要になります。

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib は pandas のデータを可視化することができるライブラリで、一般的に `plt` という名前で扱われます。

`%matplotlib inline` はグラフをノートブック上に表示させる命令です。これがないとグラフが別ウィンドーで表示されます。


`plt.style.use('ggplot')` は定評のある R の ggplot パッケージのスタイルで描画する命令です。

初めに、デフォルトのマーカーの替わりに黒いバツ印 (X) を使って、乱数のデータのスキャッタープロットを作ってみましょう。

`df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})`

困ったらこちらを参照してください! [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.style.use('ggplot')
df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})
plt.scatter(df['xs'], df['ys'])
plt.show();

**57.** DataFrame の列を使って色とサイズを変更することもできます。ビルはその日の自分の調子はどうか、朝にコーヒーを飲んだか、仕事でのパフォーマンはどうだったかをずっと追跡しています。DataFrame の 4 つの特徴を取り入れたプロットを作りなさい。

(ヒント: プロットが見えないようなことがあれば、そのプロットしたい Series に 10 程度の数を掛け算してみなさい。)

*グラフは綺麗である必要はありません。このパズルはデータの可視化コースでありません。*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

In [ ]:
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})

df.plot.scatter('hours_in', 'productivity', c=df['caffienated'], s=df['happiness']*30)
#plt.show();

**58.** 複数種類のデータをプロットしたいときはどうすればいいでしょうか？ pandas は matplotlib の *Axis* オブジェクトを扱うことができます。月ごとの収益の bar プロットと広告費の line プロットを作りなさい。(金額は 100 万円単位である。)
```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

In [ ]:
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })

ax = df.plot.bar("month", "revenue", color='blue')
df.plot.line("month", "advertising", secondary_y=True, ax=ax)
ax.set_xlim((-1, 12))
plt.show();

ここまででローソク足チャート candlestick chart を作る準備が整いました。ローソク足チャートは株価データの分析に広く使われているツールです。ローソク足チャートは株価の始値、終値、最高価格、最低価格を示すことができます。ローソク (バーの太い部分) の色は終値が始値より高ければ緑、低ければ赤です。

![Candlestick Example](img/candle.jpg)

このローソク足チャートは元々、pandas での可視化の課題として考え出されたものだが、pandas のメソッドだけでは実現できないものです。
もしも matplotlib に不慣れな場合、pandas を使ってデータを正しいフォーマットにしている限り、チャートをプロットすることができます。

初めのステップは pandas の time-series のグルーピングの機能を使ってデータを正しいフォーマットで読み込むことです。
1 本のローソクがそれぞれのデータの 1 時間を表すものとします。自分で集計関数を使って 始値/最大価格/最低価格/終値 を書き出すこともできますが、pandas にはそれをしてくれる組み込み関数があります。

下記のセルのコードではヘルパー関数 (def ...(): の関数) を含んでいます。

仮想的な株価が売られた価格と売りに出された時間を含む DataFrame を作る `day_stock_data()` を呼び出します。
そして、ローソク足チャートを表示するために集計およびフォーマットされた株価データを `plot_candlestick(df)` に渡します。

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))
    
    
    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** 前問で作ったランダムな株価データに対して、1 時間ごとの始値, 最高価格, 最低価格, 終値を表示するように集計および再フォーマットしなさい。

In [ ]:
## データフレームの確認
df = day_stock_data()
df.head()

In [ ]:
df.set_index("time", inplace = True)
agg = df.resample("H").ohlc()
agg.columns = agg.columns.droplevel()
agg["color"] = (agg.close > agg.open).map({True:"green",False:"red"})
agg.head()

**60.** 前問までで正しくフォーマットされたデータを準備することができました。自力でローソク足チャートを描いてみましょう。
行き詰まったら、上で使った `plot_candlestick(df)` を利用するか、matplotlib の [`plot` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) を参照してください。

In [ ]:
plot_candlestick(agg)